<% content_for(:title) do %>
  <%= @restaurant.name %> is on Yelp!
<% end %>



<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @restaurant.stars %>
</p>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to restaurants_path do %>
  <i class="fa fa-arrow-left"></i>
  <%= image_tag "logo.png" %>
<% end %>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    alert("<%= @restaurant.name %>");
  })
</script>
<% end %>
